= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :tags
    = f.text_field :tags
  .field
    = f.label :published
    = f.check_box :published
  .field
    = f.label :published_on
    = f.datetime_select :published_on
  .actions
    = f.submit 'Save'
