%h1 Listing posts

%table
  %tr
    %th Body
    %th Tags
    %th Published
    %th Published on
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.body
      %td= post.tags
      %td= post.published
      %td= post.published_on
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
