!!! 5
%html{ html_attrs }
  %head
    %title Awesome
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    -# = javascript_include_tag 'faye'
    -# %meta{ :name => 'faye-url', :content => '/faye' }
    = csrf_meta_tags

  %body.app
    -# = render :partial => 'layouts/sidebar'
    %article
      -# = render :partial => 'layouts/breadcrumb'
      / Header and Nav
      .row
        .large-3.columns
          %h1
            %img{:src => "http://placehold.it/400x100&text=Logo"}/
        .large-9.columns
          %ul.inline-list.right
            %li
              %a{:href => "#"} Section 1
            %li
              %a{:href => "#"} Section 2
            %li
              %a{:href => "#"} Section 3
            %li
              %a{:href => "#"} Section 4
      / End Header and Nav
      .row
        / Main Content Section
        .large-9.push-3.columns
          %h3
            Page Title
            %small Page subtitle
            %div{:data => {"yield" => "main"}}= yield
        = render 'layouts/sidebar'
      = render 'layouts/footer'
